* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    font-size: 16px;
}

.page-wrapper {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text {
    font-size: 10rem;
}

/* give the text font white outline */
.text {
    -webkit-text-stroke: 4px white;
}

/* media querry max width 560px */
@media screen and (max-width: 560px) {
    .text {
        font-size: 3rem;
    }
}
